<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to paperPiazza!</h1>
    <p>
      <%= @user.name %>, you have successfully signed up to paperPiazza,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      To visit the site, just click <a href="paperpiazza.com">here</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>