.row-fluid
  .submissions.span8
    = link_to "View your previous submissions", "javascript:void(0)", :class => "submission_link"
    %ul{:id => "submission_list_#{@question.id}"}
      -@question.submissions.by_user(@user).each do |submission|
        %li
          = submission.created_at
          = submission.score
