-provide(:title, "Paper Index")

:javascript
  $(document.ready(function(){
    $('#star').raty({
      readOnly : true,
      score    : 2
    });
  })

-columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}]
-datatable(columns, {:sort_by => "[2, 'desc']", :auto_width => 'true'})



-if current_user
  .button_container
    = link_to "Add a Research Paper", new_course_path, :class => ["btn btn-large btn-primary"]

%br
  %center
    = form_tag courses_path, :method => 'get', :id => "course_search" do
      = text_field_tag :search, params[:search]
      =submit_tag "Find Paper", :class => ['btn']
%div{:id => "courses"}
  = render partial: 'index_partial'
