-provide(:title, 'Register')

#account_form.span4

  %h1 Register

  =form_for @user, url: account_path do |f|
    = render partial: 'form', :object => f
    .button_container
      = f.submit "Create Account", :class => 'btn btn-large btn-primary'
